{% extends "base_generic.html" %}

{% block content %}
<div class="content-container">
  <h1>{{ restaurant.name }}</h1>

  <div class="restaurant-detail">
    <p><strong>Website:</strong> <a href="{{ restaurant.website }}">{{ restaurant.website }}</a></p><br>
    <p><strong>Summary:</strong> {{ restaurant.summary }}</p><br>
    <p><strong>Cuisine Type:</strong></p>
      <ul class="cuisine-list">
        {% for cuisine in restaurant.cuisine.all %}
          <li>
            <p>{{ cuisine }}{% if not forloop.last %}</p>
          </li>
        {% endif %}{% endfor %}
      </ul>
    <h2><strong>Menu:</strong></h2> 
      <ul class="menu-list">
        {% for menu in restaurant.menu.all %}
          <li>
            <p><a href="{% url 'food-detail' menu.pk %}">{{ menu }}</a>{% if not forloop.last %}</p>
          </li>
        {% endif %}{% endfor %}
      </ul>
  </div>
</div>
{% endblock %}